body {
  color: $grey;
  background-color: $light-yellow;
}

.strikeout {
  text-decoration: line-through;
}

.yellow-text {
  color: $yellow;
}

.grey-text {
  color: $grey;
}

.light-grey-bg {
  background-color: $light-grey;
}

.disable-select {
  user-select: none; /* supported by Chrome and Opera */
 -webkit-user-select: none; /* Safari */
 -khtml-user-select: none; /* Konqueror HTML */
 -moz-user-select: none; /* Firefox */
 -ms-user-select: none; /* Internet Explorer/Edge */
}